.main-section {
  padding: 20px;
}

.main-card {
  margin-top: 30px;

  .content {
    margin-top: 20px;

    .action-button-list {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding: 10px;
    }
  }
}

table {
  width: 100%;
}
