<section class="register-section">
  <mat-card class="register-card">
    <mat-card-header class="register-card-header">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="register-form">
        <mat-form-field appearance="outline">
          <mat-label>Enter your Email</mat-label>
          <input matInput placeholder="pat@example.com" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter confirm password</mat-label>
          <input matInput type="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="register-card-action" align="end">
      <button mat-raised-button color="primary">Register</button>
    </mat-card-actions>
  </mat-card>
</section>
