<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="mt-24 flex justify-center items-center w-full h-full">
  <p-card class="w-[360px]">
    <ng-template pTemplate="header">
      <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <ng-template pTemplate="body">
      <div class="flex flex-col gap-2">
        <input type="text" pInputText formControlName="username" />
        <div>
          <div *ngIf="registerForm.get('username')?.hasError('required')">Username is required.</div>
        </div>

        <input type="email" pInputText formControlName="email" />
        <div>
          <div *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</div>
          <div *ngIf="registerForm.get('email')?.hasError('email')">Please enter a valid email.</div>
        </div>

        <input type="password" pInputText formControlName="password" />
        <div>
          <div *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-col gap-2 items-center w-full">
        <button type="submit" pButton label="Submit" class="p-button-success w-full"></button>
        <a routerLink="/auth/login">Go to login</a>
      </div>
    </ng-template>
  </p-card>
</form>
