<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="flex flex-col items-center gap-3 w-full p-2">
  <input type="text" pInputText formControlName="username" />
  <div>
    <div *ngIf="loginForm.get('username')?.hasError('required')">Email is required.</div>
  </div>
  <input type="password" pInputText formControlName="password" />
  <div>
    <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>
  </div>
  <button type="submit" pButton label="Submit" class="p-button-success"></button>
  <a routerLink="/auth/register" class="p-button font-bold">Go to registers</a>
</form>

