<section class="login-section">
  <mat-card class="login-card">
    <mat-card-header class="login-card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Enter your Email</mat-label>
          <input matInput placeholder="pat@example.com" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput type="password">
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="login-card-action" align="end">
      <button mat-raised-button color="primary">Login</button>
      <a routerLink="/register" mat-raised-button color="accent">Register</a>
    </mat-card-actions>
  </mat-card>
</section>
