<section class="forgot-section">
  <mat-card class="forgot-card">
    <mat-card-header class="forgot-card-header">
      <mat-card-title>Forgot password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="forgot-form">
        <mat-form-field appearance="outline">
          <mat-label>Enter your Email</mat-label>
          <input matInput placeholder="pat@example.com" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="forgot-card-action" align="end">
      <button mat-raised-button color="primary">Send</button>
    </mat-card-actions>
  </mat-card>
</section>
